{% extends 'django_roles/base.html' %}

{% block content %}
<div id='manage-staff' data-content_type_id="{{ content_type_id }}" data-object_id="{{ object_id }}">
  <h1>Manage staff</h1>

  <a href="javascript:;" class="btn btn-primary btn-show-submit-form btn-show-form" id="btn-show-form-add-staff" data-url="{% url 'add-staff' content_type_id object_id %}" data-aftersuccess="staffList" >Add Staff</a>
  <a href="#staff" class='btn btn-primary change-tab' data-data='{"url":"{% url "staff-list" content_type_id object_id %}"}' data-tab="staff">Staff List</a>
  <a href="javascript:;" class="btn btn-primary btn-show-submit-form btn-show-form" id="btn-show-form-add-role" data-url="{% url 'create-and-update-role' content_type_id object_id %}" data-aftersuccess="roleList" >Add Role</a>
  <a href="#roles" class='btn btn-primary change-tab' data-data='{"url":"{% url "role-list" content_type_id object_id %}"}' data-tab="staff">Role List</a>

  {% include "django_roles/sections/staff.html" %}
  {% include "django_roles/sections/roles.html" %}

</div>

{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
{% endblock %}

{% block js %}
<script type="text/javascript">
  var defaultTab = "staff";
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}django_roles/js/django_roles.js"></script>
{% endblock %}