{% extends 'django_members_roles/base.html' %}

{% block content %}
  {% if invitation.accepted_invitation or invitation.decline_invitation%}
    {% if invitation.accepted_invitation %}
      <p>You alreday accepted this invitation</p>
    {% elif invitation.decline_invitation %}
      <p>You alreday declined this invitation</p>
    {% endif %}
  {% else %}
    <p>{{ invitation.invited_by}} invited you to join {{ invitation.content_object }}</p>
    <p>You can accept or decline this invitation</p>
    <form method="post">
      {% csrf_token %}
      <button class="btn btn-primary" name="accept_status" type="submit" value="True">Accept</button>
      <button class="btn btn-primary" name="accept_status" type="submit" value="False">Decline</button>
    </form>
  {% endif %}
{% endblock %}